//Primary
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

//Neutral
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(30, 38%, 92%);
$White: hsl(0, 0%, 100%);

//Font
$Montserrat: "Montserrat", san-serif;
$Fraunces: "Fraunces", san-serif;

// - Mobile: 375px
// - Desktop: 1440px